<!-- <app-books></app-books>
<app-cart></app-cart> -->
<nav class="d-flex justify-content-between align-items-center p-2 text-white bg-secondary">
  <div class=>
    <a routerLink="" class="btn btn-secondary">Book Shop</a>
  </div>
  <div>
    <a routerLink="/cart" class="btn btn-secondary m-1">My Carty</a>
    <a routerLink="/login" class="btn btn-warning m-1">Login</a>

    <a routerLink="/register" class="btn btn-success m-1">Register</a>
  </div>
</nav>
<div class="container p-1">
    <router-outlet></router-outlet>

</div>
